.btn {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-semibold);
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 0.75rem 1rem;

  .icon {
    margin-right: 0.5rem;
  }
}

.btnPrimary {
  border: none;
  color: var(--color-neutral-lightest);
  background-color: var(--color-secondary-medium);


  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

.btnSecondary {
  border: 1px solid var(--color-secondary-medium);
  color: var(--color-secondary-medium);

  &:hover {
    border: 1px solid var(--color-secondary-dark);
    color: var(--color-secondary-dark);
  }
}