.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-neutral-extra-light);
  margin: 0 auto;
}

.logo {
  fill: var(--color-neutral-darkest);
}

.searchWrapper {
  position: relative;
  display: inline-block;
  margin-right: 0;
}

.input {
  display: none;
}

.button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background-color: var(--color-primary-light);
}

.icon {
  /* Width and height deliberately changed for better UX */
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 90rem;
  }

  .searchWrapper {
    margin-right: 1rem;
  }

  .input {
    display: block;
    height: 56px;
    width: 30rem;
    border-radius: 100vh;
    border: 1px solid var(--color-neutral-extra-light);
    padding: 8px 56px 8px 16px;
    background-color: none;
    font-size: var(--font-size-lg);
    color: var(--color-neutral-extra-dark);
  
    &::placeholder {
      color: var(--color-neutral-medium);
    }
  
    &:is(:hover, :focus) {
      border-color: var(--color-accent-medium);
    }
  }
}

@media (min-width: 1024px) {
  .searchWrapper {
    margin-right: 2.5rem;
  }

  .input {
    width: 40rem;
  }
}