.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--color-primary-light);
  margin-right: 3rem;
  cursor: pointer;
}

.sortLabel{
  display: none;
}

.sortDirection {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.25rem;
  color: var(--color-accent-light);

  &:hover {
    color: var(--color-accent-medium);
  }
}

@media (min-width: 768px) {
  .container {
    margin-right: 1.5rem;
  }

  .sortLabel {
    display: block;
    font-weight: var(--font-weight-semibold);
  }
}

@media (min-width: 1024px) {
  .container {
    margin-right: 3rem;
  }
}