.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-sm);
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-md);
  }
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

@media (min-width: 1024px) {
  .col-span-1-desktop {
    grid-column: span 1 / span 1;
  }

  .col-span-2-desktop {
    grid-column: span 2 / span 2;
  }

  .col-span-3-desktop {
    grid-column: span 3 / span 3;
  }

  .col-span-4-desktop {
    grid-column: span 4 / span 4;
  }

  .col-span-6-desktop {
    grid-column: span 6 / span 6;
  }

  .col-span-12-desktop {
    grid-column: span 12 / span 12;
  }
}