.container {
  margin-top: 0.5rem;
  padding: 1rem;
}

.returnButtonContainer {
  display: none;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-neutral-darkest);

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.authorName {
  font-weight: var(--font-weight-semibold);
}

.createdAt {
  color: var(--color-neutral-extra-dark);
}

.thumbnail {
  width: 100%;
  max-height: 400px;
  border-radius: 2rem;
  margin: 1.5rem 0;
}

.title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
  color: var(--color-primary-dark);
  margin-bottom: 1.5rem;
}

.content {
  white-space: pre-wrap;
  color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-neutral-light);
  padding-bottom: 2rem;
}

.latestArticles {
  margin-top: 2rem;
}

.latestLabel {
  display: block;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-dark);
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
    padding-bottom: 2rem;
  }

  .returnButtonContainer {
    display: block;
    grid-column: 1 / span 2;
    align-self: start;
    justify-self: end;

    button {
      width: fit-content;
      margin-top: 1rem;
      margin-right: 2rem;
    }
  }

  .article {
    grid-column: 3 / span 8;
  }

  .latestArticles {
    grid-column: 3 / span 8;
  }
}