.header {
  display: none;
}

.mobileFilters {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--gap-sm);
}

.blogName {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-medium);
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--gap-sm);
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-primary-medium);
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    padding: var(--gap-sm);
  }

  .mobileFilters {
    display: none;
  }

  .home {
    display: grid;
    grid-template-areas:
      "sidebar main main";
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-md);
    max-width: 90rem;
    margin: 0 auto;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-md);
  }
}

@media (min-width: 1024px) {
  .home {
    grid-template-areas:
      "sidebar main main main";
    grid-template-columns: 1fr 3fr;
    gap: var(--gap-md);
  }

  .main {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-md);
  }
}