.container {
  position: fixed;
  inset: 0;
  z-index: -10;
  overflow: hidden;
}

.blob1,
.blob2 {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.2;
}

.blob1 {
  background-color: var(--color-secondary-light);
  top: -100px;
  right: -100px;
}

.blob2 {
  background-color: var(--color-accent-light);
  bottom: -200px;
  left: -100px;
}